Presentacion/Web References/wsDTR/DTR.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.prosoft.cr/MinisterioHacienda/DTR/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.prosoft.cr/MinisterioHacienda/DTR/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.prosoft.cr/MinisterioHacienda/DTR/">
      <s:element name="ServicioDisponible">
        <s:complexType />
      </s:element>
      <s:element name="ServicioDisponibleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ServicioDisponibleResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Autorizar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rastro" type="tns:CL_Rastro" />
            <s:element minOccurs="0" maxOccurs="1" name="comprobantes" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CL_Rastro">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="1" maxOccurs="1" name="Canal" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ExtensionDataObject" />
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AutorizarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutorizarResult" type="tns:ArrayOfCL_RespuestaTransaccion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCL_RespuestaTransaccion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CL_RespuestaTransaccion" nillable="true" type="tns:CL_RespuestaTransaccion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CL_RespuestaTransaccion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoReferencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MotivoRechazo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Resultado" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="IdRelacionCliente" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Eliminar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Rastro" type="tns:Rastro" />
            <s:element minOccurs="1" maxOccurs="1" name="ComprobanteTransaccion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Rastro">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Canal" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="EliminarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarResult" type="tns:E_RespuestaAccion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="E_RespuestaAccion">
        <s:restriction base="s:string">
          <s:enumeration value="Exitoso" />
          <s:enumeration value="NoEncontrada" />
          <s:enumeration value="NoPermitido" />
          <s:enumeration value="ErrorDesconocido" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ObtenerInformacionCuenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CuentaCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Identificacion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerInformacionCuentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerInformacionCuentaResult" type="tns:InformacionCuenta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InformacionCuenta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CodigoMoneda" type="tns:E_Monedas" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MotivoRechazo" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="E_Monedas">
        <s:restriction base="s:string">
          <s:enumeration value="Colones" />
          <s:enumeration value="Dolares" />
          <s:enumeration value="Euros" />
          <s:enumeration value="Todas" />
        </s:restriction>
      </s:simpleType>
      <s:element name="EnvioDirecto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rastro" type="tns:CL_Rastro" />
            <s:element minOccurs="0" maxOccurs="1" name="transacciones" type="tns:ArrayOfCL_TransaccionDirecta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCL_TransaccionDirecta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CL_TransaccionDirecta" nillable="true" type="tns:CL_TransaccionDirecta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CL_TransaccionDirecta">
        <s:complexContent mixed="false">
          <s:extension base="tns:CL_Transaccion">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="CL_Transaccion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="0" maxOccurs="1" name="Destino" type="tns:CL_Cliente" />
          <s:element minOccurs="1" maxOccurs="1" name="CentroCosto" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CodigoMoneda" type="tns:Moneda" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EntidadOrigen" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Monto" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="NodoIntegracion" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Servicio" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CodigoConcepto" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoReferencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdRelacionCliente" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MontoComisionCliente" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="MontoComisionRepresentada" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CL_Cliente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="0" maxOccurs="1" name="CC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Identificacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Moneda">
        <s:restriction base="s:string">
          <s:enumeration value="Colones" />
          <s:enumeration value="Dolares" />
          <s:enumeration value="Euros" />
        </s:restriction>
      </s:simpleType>
      <s:element name="EnvioDirectoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnvioDirectoResult" type="tns:ArrayOfCL_RespuestaTransaccion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Registrar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rastro" type="tns:CL_Rastro" />
            <s:element minOccurs="0" maxOccurs="1" name="transacciones" type="tns:ArrayOfCL_TransaccionDirecta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistrarResult" type="tns:ArrayOfCL_RespuestaTransaccion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnvioDirectoCreditoCuenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rastro" type="tns:CL_Rastro" />
            <s:element minOccurs="0" maxOccurs="1" name="transacciones" type="tns:ArrayOfCL_TransaccionIntegracion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCL_TransaccionIntegracion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CL_TransaccionIntegracion" nillable="true" type="tns:CL_TransaccionIntegracion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CL_TransaccionIntegracion">
        <s:complexContent mixed="false">
          <s:extension base="tns:CL_Transaccion">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Origen" type="tns:CL_Cliente" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="EnvioDirectoCreditoCuentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnvioDirectoCreditoCuentaResult" type="tns:ArrayOfCL_RespuestaTransaccion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnvioDirectoCreditoCuentaCalendarizado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Rastro" type="tns:Rastro" />
            <s:element minOccurs="0" maxOccurs="1" name="Transacciones" type="tns:ArrayOfTransaccionCalendarizada" />
            <s:element minOccurs="1" maxOccurs="1" name="FechaInicio" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="FechaFin" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="tns:TipoCalendarizacion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTransaccionCalendarizada">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransaccionCalendarizada" nillable="true" type="tns:TransaccionCalendarizada" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransaccionCalendarizada">
        <s:complexContent mixed="false">
          <s:extension base="tns:Transferencia">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ComprobanteCalendarizacion" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="FechaInicio" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Fechafin" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="UltimaFechaEjecucion" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="tns:TipoCalendarizacion" />
              <s:element minOccurs="1" maxOccurs="1" name="Estado" type="tns:E_EstadoCalendarizada" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Transferencia">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DatosDebito" type="tns:Transaccion" />
          <s:element minOccurs="0" maxOccurs="1" name="ClienteDestino" type="tns:Cliente" />
          <s:element minOccurs="0" maxOccurs="1" name="ClienteOrigen" type="tns:Cliente" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Transaccion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Moneda" type="tns:E_Monedas" />
          <s:element minOccurs="1" maxOccurs="1" name="Monto" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EntidadOrigen" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CentroCosto" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Servicio" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CodigoServicio" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PuntoIntegracion" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CodigoConcepto" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FirmaDigital" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="eMAIL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IDCorrelation" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Cliente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Identificacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CC" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TipoCalendarizacion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="periodicidad" type="tns:E_TipoPeriodicidad" />
          <s:element minOccurs="1" maxOccurs="1" name="primerTramite" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="segundoTramite" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="E_TipoPeriodicidad">
        <s:restriction base="s:string">
          <s:enumeration value="Unica" />
          <s:enumeration value="Semanal" />
          <s:enumeration value="Quincenal" />
          <s:enumeration value="Mensual" />
          <s:enumeration value="Trimestral" />
          <s:enumeration value="Semestral" />
          <s:enumeration value="Anual" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="E_EstadoCalendarizada">
        <s:restriction base="s:string">
          <s:enumeration value="Activa" />
          <s:enumeration value="Inactiva" />
          <s:enumeration value="Cancelada" />
          <s:enumeration value="Finalizada" />
          <s:enumeration value="Todos" />
          <s:enumeration value="Inestable" />
        </s:restriction>
      </s:simpleType>
      <s:element name="EnvioDirectoCreditoCuentaCalendarizadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnvioDirectoCreditoCuentaCalendarizadoResult" type="tns:ArrayOfRespuestaCalendarizada" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRespuestaCalendarizada">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RespuestaCalendarizada" nillable="true" type="tns:RespuestaCalendarizada" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RespuestaCalendarizada">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Estado" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="MotivoError" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ComprobanteTransaccion" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaEjecucion" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="IDCorrelation" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Consultar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rastro" type="tns:Rastro" />
            <s:element minOccurs="1" maxOccurs="1" name="Comprobante" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="estado" type="tns:E_Estado" />
            <s:element minOccurs="1" maxOccurs="1" name="FechaRegistroInicial" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="FechaRegistroFinal" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="UsuarioRegistra" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CentroCosto" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReferenciaSINPE" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Moneda" type="tns:E_Monedas" />
            <s:element minOccurs="1" maxOccurs="1" name="Modalidad" type="tns:E_Modalidad" />
            <s:element minOccurs="0" maxOccurs="1" name="CuentaClienteOrigen" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CuentaClienteDestino" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdOrigen" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDDestino" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="EntidadOrigen" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="EntidadDestino" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="E_Estado">
        <s:restriction base="s:string">
          <s:enumeration value="Registrada" />
          <s:enumeration value="Autorizada" />
          <s:enumeration value="Rechazada" />
          <s:enumeration value="Eliminada" />
          <s:enumeration value="Aprobada" />
          <s:enumeration value="Enviada" />
          <s:enumeration value="Aplazada" />
          <s:enumeration value="Excluida" />
          <s:enumeration value="Todos" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="E_Modalidad">
        <s:restriction base="s:string">
          <s:enumeration value="Entrante" />
          <s:enumeration value="Saliente" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ConsultarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarResult" type="tns:ArrayOfDetalleTransaccion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDetalleTransaccion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DetalleTransaccion" nillable="true" type="tns:DetalleTransaccion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DetalleTransaccion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DatosDebito" type="tns:Transaccion" />
          <s:element minOccurs="0" maxOccurs="1" name="ClienteDestino" type="tns:Cliente" />
          <s:element minOccurs="0" maxOccurs="1" name="ClienteOrigen" type="tns:Cliente" />
          <s:element minOccurs="1" maxOccurs="1" name="Comprobante" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Estado" type="tns:E_Estado" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaRegistro" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="UsuarioRegistra" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReferenciaSINPE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Modalidad" type="tns:E_Modalidad" />
          <s:element minOccurs="1" maxOccurs="1" name="MotivoRechazo" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultarCalendarizadas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CuentaCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDOrigen" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ComprobanteCalendarizacion" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="FechaInicial" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="FechaFinal" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="moneda" type="tns:E_Monedas" />
            <s:element minOccurs="1" maxOccurs="1" name="Estado" type="tns:E_EstadoCalendarizada" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarCalendarizadasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarCalendarizadasResult" type="tns:ArrayOfTransaccionCalendarizada" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InactivarCalendarizacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rastro" type="tns:Rastro" />
            <s:element minOccurs="1" maxOccurs="1" name="ComprobanteCalendarizacion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InactivarCalendarizacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InactivarCalendarizacionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivarCalendarizacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rastro" type="tns:Rastro" />
            <s:element minOccurs="1" maxOccurs="1" name="ComprobanteCalendarizacion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivarCalendarizacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActivarCalendarizacionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelarCalendarizacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rastro" type="tns:Rastro" />
            <s:element minOccurs="1" maxOccurs="1" name="ComprobanteCalendarizacion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelarCalendarizacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CancelarCalendarizacionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnvioDirectoContabilidad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rastro" type="tns:CL_Rastro" />
            <s:element minOccurs="0" maxOccurs="1" name="transacciones" type="tns:ArrayOfCL_TransaccionDirecta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnvioDirectoContabilidadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnvioDirectoContabilidadResult" type="tns:ArrayOfCL_RespuestaTransaccion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Rechazar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rastro" type="tns:CL_Rastro" />
            <s:element minOccurs="0" maxOccurs="1" name="comprobantes" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RechazarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RechazarResult" type="tns:ArrayOfCL_RespuestaTransaccion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerInformacionDestino">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cuentaCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="identificacion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerInformacionDestinoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerInformacionDestinoResult" type="tns:InformacionCuenta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarDebitoEnviadoASINPE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigoReferencia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarDebitoEnviadoASINPEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarDebitoEnviadoASINPEResult" type="tns:DebitoEnviado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DebitoEnviado">
        <s:complexContent mixed="false">
          <s:extension base="tns:Debito">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="codEntidadDestinoField" type="s:short" />
              <s:element minOccurs="1" maxOccurs="1" name="codEstadoField" type="tns:EstadoOperacion" />
              <s:element minOccurs="1" maxOccurs="1" name="codMotivoRechazoField" type="s:short" />
              <s:element minOccurs="1" maxOccurs="1" name="fecEnvioField" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Debito">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="1" maxOccurs="1" name="centroCostoField" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="codEntidadOrigenField" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="codMonedaField" type="tns:Moneda" />
          <s:element minOccurs="1" maxOccurs="1" name="codMotivoField" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="codReferenciaField" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cuentaClienteField" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcionField" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="iDDestinoField" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="iDNegocioField" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="montoField" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="nomNegocioField" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numDocumentoField" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="servicioField" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="titularServicioField" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="EstadoOperacion">
        <s:list>
          <s:simpleType>
            <s:restriction base="s:string">
              <s:enumeration value="NoExiste" />
              <s:enumeration value="Rechazada" />
              <s:enumeration value="Autorizada" />
            </s:restriction>
          </s:simpleType>
        </s:list>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ServicioDisponibleSoapIn">
    <wsdl:part name="parameters" element="tns:ServicioDisponible" />
  </wsdl:message>
  <wsdl:message name="ServicioDisponibleSoapOut">
    <wsdl:part name="parameters" element="tns:ServicioDisponibleResponse" />
  </wsdl:message>
  <wsdl:message name="AutorizarSoapIn">
    <wsdl:part name="parameters" element="tns:Autorizar" />
  </wsdl:message>
  <wsdl:message name="AutorizarSoapOut">
    <wsdl:part name="parameters" element="tns:AutorizarResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarSoapIn">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="EliminarSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerInformacionCuentaSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerInformacionCuenta" />
  </wsdl:message>
  <wsdl:message name="ObtenerInformacionCuentaSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerInformacionCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="EnvioDirectoSoapIn">
    <wsdl:part name="parameters" element="tns:EnvioDirecto" />
  </wsdl:message>
  <wsdl:message name="EnvioDirectoSoapOut">
    <wsdl:part name="parameters" element="tns:EnvioDirectoResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrarSoapIn">
    <wsdl:part name="parameters" element="tns:Registrar" />
  </wsdl:message>
  <wsdl:message name="RegistrarSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarResponse" />
  </wsdl:message>
  <wsdl:message name="EnvioDirectoCreditoCuentaSoapIn">
    <wsdl:part name="parameters" element="tns:EnvioDirectoCreditoCuenta" />
  </wsdl:message>
  <wsdl:message name="EnvioDirectoCreditoCuentaSoapOut">
    <wsdl:part name="parameters" element="tns:EnvioDirectoCreditoCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="EnvioDirectoCreditoCuentaCalendarizadoSoapIn">
    <wsdl:part name="parameters" element="tns:EnvioDirectoCreditoCuentaCalendarizado" />
  </wsdl:message>
  <wsdl:message name="EnvioDirectoCreditoCuentaCalendarizadoSoapOut">
    <wsdl:part name="parameters" element="tns:EnvioDirectoCreditoCuentaCalendarizadoResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarSoapIn">
    <wsdl:part name="parameters" element="tns:Consultar" />
  </wsdl:message>
  <wsdl:message name="ConsultarSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarCalendarizadasSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarCalendarizadas" />
  </wsdl:message>
  <wsdl:message name="ConsultarCalendarizadasSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarCalendarizadasResponse" />
  </wsdl:message>
  <wsdl:message name="InactivarCalendarizacionSoapIn">
    <wsdl:part name="parameters" element="tns:InactivarCalendarizacion" />
  </wsdl:message>
  <wsdl:message name="InactivarCalendarizacionSoapOut">
    <wsdl:part name="parameters" element="tns:InactivarCalendarizacionResponse" />
  </wsdl:message>
  <wsdl:message name="ActivarCalendarizacionSoapIn">
    <wsdl:part name="parameters" element="tns:ActivarCalendarizacion" />
  </wsdl:message>
  <wsdl:message name="ActivarCalendarizacionSoapOut">
    <wsdl:part name="parameters" element="tns:ActivarCalendarizacionResponse" />
  </wsdl:message>
  <wsdl:message name="CancelarCalendarizacionSoapIn">
    <wsdl:part name="parameters" element="tns:CancelarCalendarizacion" />
  </wsdl:message>
  <wsdl:message name="CancelarCalendarizacionSoapOut">
    <wsdl:part name="parameters" element="tns:CancelarCalendarizacionResponse" />
  </wsdl:message>
  <wsdl:message name="EnvioDirectoContabilidadSoapIn">
    <wsdl:part name="parameters" element="tns:EnvioDirectoContabilidad" />
  </wsdl:message>
  <wsdl:message name="EnvioDirectoContabilidadSoapOut">
    <wsdl:part name="parameters" element="tns:EnvioDirectoContabilidadResponse" />
  </wsdl:message>
  <wsdl:message name="RechazarSoapIn">
    <wsdl:part name="parameters" element="tns:Rechazar" />
  </wsdl:message>
  <wsdl:message name="RechazarSoapOut">
    <wsdl:part name="parameters" element="tns:RechazarResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerInformacionDestinoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerInformacionDestino" />
  </wsdl:message>
  <wsdl:message name="ObtenerInformacionDestinoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerInformacionDestinoResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarDebitoEnviadoASINPESoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarDebitoEnviadoASINPE" />
  </wsdl:message>
  <wsdl:message name="ConsultarDebitoEnviadoASINPESoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarDebitoEnviadoASINPEResponse" />
  </wsdl:message>
  <wsdl:portType name="DTRSoap">
    <wsdl:operation name="ServicioDisponible">
      <wsdl:input message="tns:ServicioDisponibleSoapIn" />
      <wsdl:output message="tns:ServicioDisponibleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Autorizar">
      <wsdl:input message="tns:AutorizarSoapIn" />
      <wsdl:output message="tns:AutorizarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input message="tns:EliminarSoapIn" />
      <wsdl:output message="tns:EliminarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerInformacionCuenta">
      <wsdl:input message="tns:ObtenerInformacionCuentaSoapIn" />
      <wsdl:output message="tns:ObtenerInformacionCuentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnvioDirecto">
      <wsdl:input message="tns:EnvioDirectoSoapIn" />
      <wsdl:output message="tns:EnvioDirectoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Registrar">
      <wsdl:input message="tns:RegistrarSoapIn" />
      <wsdl:output message="tns:RegistrarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnvioDirectoCreditoCuenta">
      <wsdl:input message="tns:EnvioDirectoCreditoCuentaSoapIn" />
      <wsdl:output message="tns:EnvioDirectoCreditoCuentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnvioDirectoCreditoCuentaCalendarizado">
      <wsdl:input message="tns:EnvioDirectoCreditoCuentaCalendarizadoSoapIn" />
      <wsdl:output message="tns:EnvioDirectoCreditoCuentaCalendarizadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Consultar">
      <wsdl:input message="tns:ConsultarSoapIn" />
      <wsdl:output message="tns:ConsultarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarCalendarizadas">
      <wsdl:input message="tns:ConsultarCalendarizadasSoapIn" />
      <wsdl:output message="tns:ConsultarCalendarizadasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InactivarCalendarizacion">
      <wsdl:input message="tns:InactivarCalendarizacionSoapIn" />
      <wsdl:output message="tns:InactivarCalendarizacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivarCalendarizacion">
      <wsdl:input message="tns:ActivarCalendarizacionSoapIn" />
      <wsdl:output message="tns:ActivarCalendarizacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelarCalendarizacion">
      <wsdl:input message="tns:CancelarCalendarizacionSoapIn" />
      <wsdl:output message="tns:CancelarCalendarizacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnvioDirectoContabilidad">
      <wsdl:input message="tns:EnvioDirectoContabilidadSoapIn" />
      <wsdl:output message="tns:EnvioDirectoContabilidadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Rechazar">
      <wsdl:input message="tns:RechazarSoapIn" />
      <wsdl:output message="tns:RechazarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerInformacionDestino">
      <wsdl:input message="tns:ObtenerInformacionDestinoSoapIn" />
      <wsdl:output message="tns:ObtenerInformacionDestinoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarDebitoEnviadoASINPE">
      <wsdl:input message="tns:ConsultarDebitoEnviadoASINPESoapIn" />
      <wsdl:output message="tns:ConsultarDebitoEnviadoASINPESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DTRSoap" type="tns:DTRSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServicioDisponible">
      <soap:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/ServicioDisponible" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Autorizar">
      <soap:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/Autorizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerInformacionCuenta">
      <soap:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/ObtenerInformacionCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnvioDirecto">
      <soap:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/EnvioDirecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registrar">
      <soap:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/Registrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnvioDirectoCreditoCuenta">
      <soap:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/EnvioDirectoCreditoCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnvioDirectoCreditoCuentaCalendarizado">
      <soap:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/EnvioDirectoCreditoCuentaCalendarizado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultar">
      <soap:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/Consultar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCalendarizadas">
      <soap:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/ConsultarCalendarizadas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InactivarCalendarizacion">
      <soap:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/InactivarCalendarizacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivarCalendarizacion">
      <soap:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/ActivarCalendarizacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarCalendarizacion">
      <soap:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/CancelarCalendarizacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnvioDirectoContabilidad">
      <soap:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/EnvioDirectoContabilidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rechazar">
      <soap:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/Rechazar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerInformacionDestino">
      <soap:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/ObtenerInformacionDestino" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarDebitoEnviadoASINPE">
      <soap:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/ConsultarDebitoEnviadoASINPE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DTRSoap12" type="tns:DTRSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServicioDisponible">
      <soap12:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/ServicioDisponible" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Autorizar">
      <soap12:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/Autorizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap12:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/Eliminar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerInformacionCuenta">
      <soap12:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/ObtenerInformacionCuenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnvioDirecto">
      <soap12:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/EnvioDirecto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registrar">
      <soap12:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/Registrar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnvioDirectoCreditoCuenta">
      <soap12:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/EnvioDirectoCreditoCuenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnvioDirectoCreditoCuentaCalendarizado">
      <soap12:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/EnvioDirectoCreditoCuentaCalendarizado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultar">
      <soap12:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/Consultar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCalendarizadas">
      <soap12:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/ConsultarCalendarizadas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InactivarCalendarizacion">
      <soap12:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/InactivarCalendarizacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivarCalendarizacion">
      <soap12:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/ActivarCalendarizacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarCalendarizacion">
      <soap12:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/CancelarCalendarizacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnvioDirectoContabilidad">
      <soap12:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/EnvioDirectoContabilidad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rechazar">
      <soap12:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/Rechazar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerInformacionDestino">
      <soap12:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/ObtenerInformacionDestino" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarDebitoEnviadoASINPE">
      <soap12:operation soapAction="http://www.prosoft.cr/MinisterioHacienda/DTR/ConsultarDebitoEnviadoASINPE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DTR">
    <wsdl:port name="DTRSoap" binding="tns:DTRSoap">
      <soap:address location="http://tndigitalwcfv3:90/WB_CGPCanales/DTR.asmx" />
    </wsdl:port>
    <wsdl:port name="DTRSoap12" binding="tns:DTRSoap12">
      <soap12:address location="http://tndigitalwcfv3:90/WB_CGPCanales/DTR.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>