Presentacion/Web References/wsBalanceComprobacion/wsBalanceComprobacionSAP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="uwsBalanceComprobacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="t_Cabecera" type="tns:tBalanceComprobacionCabecera" />
            <s:element minOccurs="0" maxOccurs="1" name="t_Posicion" type="tns:ArrayOfTBalanceComprobacionPosicion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="tBalanceComprobacionCabecera">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Lstr_ledger" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lstr_vista" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lstr_version" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lstr_ejercicio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lstr_periodo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lstr_unid_consol" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lstr_plan_pos" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTBalanceComprobacionPosicion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="tBalanceComprobacionPosicion" nillable="true" type="tns:tBalanceComprobacionPosicion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="tBalanceComprobacionPosicion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Lstr_posicion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lstr_subposicion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lstr_unid_asocia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lstr_moneda" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lstr_signo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Ldec_valor_ml" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Ldec_valor_mt" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Ldec_valor_ac" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="uwsBalanceComprobacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uwsBalanceComprobacionResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="uwsBalanceComprobacionSoapIn">
    <wsdl:part name="parameters" element="tns:uwsBalanceComprobacion" />
  </wsdl:message>
  <wsdl:message name="uwsBalanceComprobacionSoapOut">
    <wsdl:part name="parameters" element="tns:uwsBalanceComprobacionResponse" />
  </wsdl:message>
  <wsdl:portType name="wsBalanceComprobacionSAPSoap">
    <wsdl:operation name="uwsBalanceComprobacion">
      <wsdl:input message="tns:uwsBalanceComprobacionSoapIn" />
      <wsdl:output message="tns:uwsBalanceComprobacionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsBalanceComprobacionSAPSoap" type="tns:wsBalanceComprobacionSAPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="uwsBalanceComprobacion">
      <soap:operation soapAction="http://tempuri.org/uwsBalanceComprobacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsBalanceComprobacionSAPSoap12" type="tns:wsBalanceComprobacionSAPSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="uwsBalanceComprobacion">
      <soap12:operation soapAction="http://tempuri.org/uwsBalanceComprobacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsBalanceComprobacionSAP">
    <wsdl:port name="wsBalanceComprobacionSAPSoap" binding="tns:wsBalanceComprobacionSAPSoap">
      <soap:address location="http://localhost/WSBCSAP/wsBalanceComprobacionSAP.asmx" />
    </wsdl:port>
    <wsdl:port name="wsBalanceComprobacionSAPSoap12" binding="tns:wsBalanceComprobacionSAPSoap12">
      <soap12:address location="http://localhost/WSBCSAP/wsBalanceComprobacionSAP.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>