Presentacion/Web References/wsBC/wsBalanceComprobacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="urn:sap-com:document:sap:rfc:functions" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <s:element name="uwsBalanceComprobacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="t_cabecera" type="s1:ZINT_EST_CAB_BALANCE_CONSOL" />
            <s:element minOccurs="0" maxOccurs="1" name="t_posicion" type="tns:ArrayOfZINT_EST_POS_BALANCE_CONSOL" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfZINT_EST_POS_BALANCE_CONSOL">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ZINT_EST_POS_BALANCE_CONSOL" nillable="true" type="s1:ZINT_EST_POS_BALANCE_CONSOL" />
        </s:sequence>
      </s:complexType>
      <s:element name="uwsBalanceComprobacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uwsBalanceComprobacionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <s:complexType name="ZINT_EST_CAB_BALANCE_CONSOL">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="LEDGER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="VISTA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="VERSION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="EJERCICIO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="PERIODO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="UNID_CONSOL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="PLAN_POS" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ZINT_EST_POS_BALANCE_CONSOL">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="POSICION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SUBPOSICION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="UNID_ASOCIADA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="MONEDA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SIGNO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="VALOR_ML" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="VALOR_MT" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="VALOR_AC" type="s:decimal" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="uwsBalanceComprobacionSoapIn">
    <wsdl:part name="parameters" element="tns:uwsBalanceComprobacion" />
  </wsdl:message>
  <wsdl:message name="uwsBalanceComprobacionSoapOut">
    <wsdl:part name="parameters" element="tns:uwsBalanceComprobacionResponse" />
  </wsdl:message>
  <wsdl:portType name="wsBalanceComprobacionSoap">
    <wsdl:operation name="uwsBalanceComprobacion">
      <wsdl:input message="tns:uwsBalanceComprobacionSoapIn" />
      <wsdl:output message="tns:uwsBalanceComprobacionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsBalanceComprobacionSoap" type="tns:wsBalanceComprobacionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="uwsBalanceComprobacion">
      <soap:operation soapAction="http://tempuri.org/uwsBalanceComprobacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsBalanceComprobacionSoap12" type="tns:wsBalanceComprobacionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="uwsBalanceComprobacion">
      <soap12:operation soapAction="http://tempuri.org/uwsBalanceComprobacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsBalanceComprobacion">
    <wsdl:port name="wsBalanceComprobacionSoap" binding="tns:wsBalanceComprobacionSoap">
      <soap:address location="http://mh-app-nicsp1:88/wsBalanceComprobacion.asmx" />
    </wsdl:port>
    <wsdl:port name="wsBalanceComprobacionSoap12" binding="tns:wsBalanceComprobacionSoap12">
      <soap12:address location="http://mh-app-nicsp1:88/wsBalanceComprobacion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>